// VOER 1.0.1
// Based on Ceruclean
// -----------------------------------------------------
@import "../bootstrap/less/mixins.less";
@import "variables.less";

// TYPOGRAPHY
// -----------------------------------------------------

//@import url(https://fonts.googleapis.com/css?family=Telex);

// SCAFFOLDING
// -----------------------------------------------------
body{
  padding-bottom: 20px;
  padding-top: 60px;
}

// NAVBAR
// -----------------------------------------------------

.navbar {


  .brand {
    padding: 14px 20px 16px;
    font-family: @headingsFontFamily;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  }

  li {
    line-height: 20px;
  }

  .search-query {
    border: 1px solid darken(@linkColor, 10%);
    line-height: normal;
  }

  .navbar-text {
    padding: 19px 10px 18px;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  }

  &-inverse {

    .navbar-search .search-query {
      color: @textColor;
    }
  }
}

@media (max-width: @navbarCollapseWidth) {

  .navbar .nav-collapse {

    .nav li > a {

      font-family: @headingsFontFamily;
      font-weight: normal;
      color: @white;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);

      &:hover {
        background-color: #2B7CAC;
      }
    }

    .nav .active > a {
      .box-shadow(none);
      background-color: #2B7CAC;
    }

    .dropdown-menu li > a:hover,
    .dropdown-menu li > a:focus,
    .dropdown-submenu:hover > a {
      background-image: none;
    }

    .navbar-form,
    .navbar-search {
      border: none;
    }

    .nav-header {
      color: #2B7CAC;
    }
  }

  .navbar-inverse .nav-collapse {

    .nav li > a {
      color: @navbarInverseLinkColor;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    .nav .active > a,
    .nav > li > a:hover,
    .dropdown-menu a:hover {
      background-color: rgba(0, 0, 0, 0.1) !important;
    }
  }
}

div.subnav {

  font-family: @headingsFontFamily;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
  background-color: #EEEEEE;
  background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
  background-repeat: repeat-x;
  border: 1px solid #E5E5E5;
  border-radius: 4px 4px 4px 4px;
  height: 36px;
  margin-bottom: 20px;
  width: 100%;
  .nav > li{
    & > a{
      border-left: 1px solid #F5F5F5;
      border-radius: 0 0 0 0;
      border-right: 1px solid #E5E5E5;
      margin: 0;
      padding-bottom: 11px;
      padding-top: 11px;
    }
  }
  &-fixed {
    top: @navbarHeight;
    border-color: #D5D5D5;
    border-radius: 0 0 0 0;
    border-width: 0 0 1px;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1020;
    .nav{
      width: 1168px;
      margin: 0 auto;
      & > li{
        & > a{
          border-left: 1px solid #F5F5F5;
          border-radius: 0 0 0 0;
          border-right: 1px solid #E5E5E5;
          margin: 0;
          padding-bottom: 11px;
          padding-top: 11px;
        }
      }
    }
  }
}

// NAV
// -----------------------------------------------------

// BUTTONS
// -----------------------------------------------------

.btn {
  #gradient > .vertical-three-colors(@white, @white, 5%, darken(@white, 0%));
  @shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  .box-shadow(@shadow);

  &:hover {
    background-position: 0 0;
  }
}

.btn-primary {
  .buttonBackground(lighten(@btnPrimaryBackground, 5%), @btnPrimaryBackground);
}

.btn-info {
  .buttonBackground(lighten(@btnInfoBackground, 5%), @btnInfoBackground);
}

.btn-success {
  .buttonBackground(lighten(@btnSuccessBackground, 5%), @btnSuccessBackground);
}

.btn-warning {
  .buttonBackground(lighten(@btnWarningBackground, 5%), @btnWarningBackground);
}

.btn-danger {
  .buttonBackground(lighten(@btnDangerBackground, 5%), @btnDangerBackground);
}

.btn-inverse {
  .buttonBackground(lighten(@btnInverseBackground, 5%), @btnInverseBackground);
}

// TABLES
// -----------------------------------------------------

// FORMS
// -----------------------------------------------------

// DROPDOWNS
// -----------------------------------------------------

// ALERTS, LABELS, BADGES
// -----------------------------------------------------

// MISC
// -----------------------------------------------------

i[class^="icon-"]{
  opacity: 0.8;
}
form.voer-login-form{
  float: right;
  margin-top: 5px;
  margin-bottom: 0px;
  button.btn{
    margin-top: 0px;
  }
}
#logo{
  margin-bottom: 20px;
}
div.voer-sidenav{
  width:258px;
}
footer.footer{
  background-color: #F5F5F5;
  border-top: 1px solid #E5E5E5;
  margin-top: 70px;
  padding: 30px 0;
  text-align: center;
  p{
    color: #777;
    margin-bottom: 0;
  }
}
.box-header{
  background-color: #FAFAFA;
  background-image: linear-gradient(to bottom, #FAFAFA, #EFEFEF);
  border: 1px solid #DDDDDD;
  border-radius: 2px 2px 0 0;
  .box-shadow(none);
  height: 20px;
  margin-bottom: -1px;
  overflow: hidden;
  padding: 10px;
  h2{
    color: #646464;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    margin-top: 2px;
    text-shadow: 0 1px 0 #FFFFFF;
  }
  .break {
    border-left: 1px solid #FCFCFC;
    border-right: 1px solid #DDDDDD;
    margin: -12px 10px -10px;
    padding: 12px 0 10px;
  }
}
.box-content{
  background: none repeat scroll 0 0 #FCFCFC;
  border: 1px solid #DDDDDD;
  border-radius: 0 0 2px 2px;
  margin-top: -1px;
  padding: 10px;
}

.suggested-actions .suggested-action:hover {
  -webkit-box-shadow:0 0 10px #76a005;
  -moz-box-shadow:0 0 10px #76a005;
  box-shadow:0 0 10px #76a005;
  color:#444!important;
  text-decoration:none!important;
  border-color:#c3ca7d;
}
.suggested-action {
  background-color:#f7f7f7;
  color:#444!important;
  display:block;
  margin-bottom:0;
  position:relative;
  padding:14px;
}
.suggested-action .suggested-action-image-link {
  background-size:cover;
  background-repeat:no-repeat;
  border-bottom:1px solid #dce0b3;
  display:block;
  height:130px;
  margin:-14px -14px 22px;
}
.suggested-action .suggested-action-title {
  color:#005987;
}
.vertical-shadow {
  border:1px solid #ccc;
  border-bottom:1px solid #aaa;
  -webkit-box-shadow:0 1px 3px #ccc;
  -moz-box-shadow:0 1px 3px #ccc;
  box-shadow:0 1px 3px #ccc;
}
h2.suggested-action-title {
  font-size: 21px;
}
.pulled {
  opacity:.8;
  filter:alpha(opacity=80);
  margin-bottom: 22px;
  margin-top: 11px;
}
.section-separator {
  position:relative;
  margin: 25px auto;
}
.section-separator h2 {
  color:#898989;
  text-align:center;
  width:auto;
  font-size: 16px;
  font-weight: normal;
  position:relative;
  z-index:1;
  margin:0;
}
ul#our_libs {
  list-style: none outside none;
}
#our_libs h2.pulls {
  font-size: 20px;
}
hr {
  background:#CCC;
  border:0;
  -moz-box-shadow:0 2px 2px rgba(0,0,0,0.075);
  -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.075);
  box-shadow:0 2px 2px rgba(0,0,0,0.075);
  clear:both;
  color:#CCC;
  display:block;
  height:1px;
  width:100%;
  margin:18px 0 36px;
  padding:0;
}
hr.thin {
  margin-bottom:18px;
  margin-left:auto;
  margin-right:auto;
  opacity:.40;
  filter:alpha(opacity=40);
  width:50%;
}
.section-separator .section-separator-text {
  background:#fff;
  display:inline-block;
  text-transform:uppercase;
  padding:0 15px;
}
.section-separator hr {
  position:relative;
  top: -20px;
  margin:0;
}
.subscription input.email {
  border: 1px solid #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
  font-family: "MuseoSans300",sans-serif;
  font-size: 14px;
  font-weight: normal;
  height: 25px;
  line-height: 22px;
  outline: 0 none;
  padding: 5px;
  width: 97%;
}
.info-section .info-text {
  min-height: 110px;
}

// MEDIA QUERIES
// -----------------------------------------------------
//
.navbar-inner{
  background-image: none;
  background-color: #C10C3E;
}
