#sitemap, #dragHelper {display: block; margin: 0; list-style: none;}
#dragHelper { background: #eee;}
#sitemap ul, #dragHelper ul {font-size: 1em; list-style: none;}
#sitemap li, #dragHelper li {display: block; width: 100%; display: block; clear: both; }
#sitemap dl, #dragHelper div {position: relative; display: block; height: 30px; border-top: 1px dashed #eee; padding-top: 1px; background:#fff;}
#sitemap dt, 
#dragHelper dt {
  float: left; 
  font-weight: bold; 
  font-size: 1.1em; 
  line-height: 30px; 
  margin-left: 16px; 
  padding: 0 0 0 1px;
}
#sitemap dd, #dragHelper dd {float: left;}
#sitemap .sm2_actions, #dragHelper .sm2_actions {display: none; padding: 3px 2px 0 5px;}
#sitemap .sm2_status, #dragHelper .sm2_status {position: absolute; top: 3px; right: 0;}

#sitemap dl:hover dd, #sitemap dd:hover {display: block;}
#sitemap dd strong, #dragHelper dd strong {display: none;}
#sitemap a, #dragHelper a {border: none;}
#sitemap .sm2_expander, #dragHelper .sm2_expander {position: absolute; left: 0; top: 8px;}

#sitemap .sm2_liOpen, #dragHelper .sm2_liOpen {background: url(../images/sm2_li.gif) left repeat-y;}
#sitemap .sm2_liOpen > dl > .sm2_expander, 
#dragHelper .sm2_liOpen > dl > .sm2_expander {
  display: block; 
  width: 16px; 
  height: 21px; 
  background: url(../images/treeview-default.gif) no-repeat scroll -64px -25px transparent;
  text-decoration: none;
}
#sitemap .sm2_liClosed > dl > .sm2_expander, 
#dragHelper .sm2_liClosed > dl > .sm2_expander {
  display: block; 
  width: 16px; 
  height: 121px; 
  background: url(../images/treeview-default.gif) no-repeat scroll -80px -3px transparent;
  text-decoration: none;
}
#sitemap .sm2_liClosed ul, #dragHelper .sm2_liClosed ul {display: none;}

.sm2_move, .sm2_delete, .sm2_addChild, .sm2_pub, .sm2_unpub, .sm2_workFlow {
  display: block; 
  float: left; 
  width: 16px; 
  height: 16px; 
  text-indent: -5000px; 
  margin: 4px 1px 0 0; 
  background: url("../images/sm2_move.png") top left no-repeat;
}
.sm2_actions * {cursor: pointer;}
.sm2_unpub, 
.sm2_pub,
.sm2_workFlow {
  float: right; 
  margin: 4px 1px 0 0;
}
.sm2_move {background-image: url(../images/sm2_move.png);}
.sm2_delete {background-image: url(../images/sm2_delete.png);}
.sm2_addChild {background-image: url(../images/sm2_addChild.png);}
.sm_pub {
  position: absolute; 
  top: 0.4em; 
  right: 22px; 
  display: block; 
  width: 16px; 
  height: 16px; 
  text-indent: -5000px; 
  background: url(../images/pub.gif) top no-repeat; 
  border: none;
}
.sm2_pub {background-image: url(../images/sm2_pub.png);}
.sm2_unpub {background-image: url(../images/sm2_unpub.png);}
.sm2_workFlow {background-image: none;}

#sortHelper {height: 1px !important; background: #000; margin: 0 !important; padding: 0; position: relative; z-index: 100;}
#sortHelper + li {margin-top: 0;}

#dropMenu {background: #333; color:#eee; position:absolute; display:none; z-index:1000;}
#dropMenu ul {list-style:none; margin:0; padding:0; text-indent:0;}
#dropMenu li {margin:0; padding:5px 10px; width:100px; cursor:pointer; font-weight:bold;}

#sitemap .dropzone {
  background-color:#fff; 
  /*height:6px; 
  border-bottom:4px solid #fff; */
}

dl {
  margin-bottom: 0;
}